%ul#search_list
  - unless @assets.blank?
    - @assets.each do |asset| 
      = render :partial => 'admin/assets/bucket_asset', :locals => { :asset_url => asset.asset.url, :asset_id => asset.id, :asset_title => asset.title, :asset_thumbnail => asset.thumbnail(:thumbnail) }
  - else
    %li
      %p.note
        = t("paperclipped.no_assets_found")
      
%script
  Event.addBehavior({ '.asset a' : Asset.AddToPage });

  
